* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --box-shadow1: 2px 2px 10px rgb(0, 0, 0);
    --redcolor1: rgba(233, 10, 40, 0.8);
    --redcolor2: rgba(233, 10, 40, 0.6);
}

body {
    background-color: #000;
    scroll-behavior: smooth;
}
a {
    color: white;
    text-decoration: none;
}
h4 {
    font-size: 18px;
    font-weight: 700;
}
*::selection {
    background-color: var(--redcolor2);
} 
p {
    font-size: small;
    font-weight: 400;
}

.navFixed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;  
    gap: 10px;
    padding: 10px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
}
.navFixed > a {
    list-style-type: none;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
    transition: background-color 400ms;
}
.navFixed > a:hover {
    background-color: var(--redcolor1);
    border-radius: 4px;
}

.startPage {
    background: rgb(10, 10, 10);
    content: "";
    height: 100dvh;
    display: flex;
    flex-direction: row;
    background-image: url(img/Quality.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 53% top;
    justify-content: space-around;
    align-items: center;
}

.logo {
    background-image: url(img/la220logo-transp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 400px;
    height: 400px;
    margin-top: 200px;
}

.botonFechas {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
.botonFechas > a {
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.377);
    color: whitesmoke;
    border-radius: 8px;
    border: solid 1px rgba(255, 255, 255, 0.267);
    padding: 18px;
    text-decoration: none;
    transition: background-color 400ms;
    backdrop-filter: blur(2px);
    box-shadow: var(--box-shadow1);
}
.botonFechas > a:hover {
    background-color: var(--redcolor1);
}

/* POPUP */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(4px);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.flexWrapperFechas {
    display: flex;
    flex-direction: column;
    width: 340px;
}
.fechasProximas {
    padding: 12px;
    background-color: white;
    color: #000;
    border-radius: 10px;
    box-shadow: var(--box-shadow1);
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.fecha {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.fecha > img {
    width: 150px;
    border-radius: 6px;
    border: solid 1px white;
    box-shadow: 2px 2px 1px #0000006e;
    object-fit: cover;
}
.cuerpoFecha {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}
.cuerpoFecha > .linkEntradas {
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    align-self: flex-end;
    margin-top: 20px;
    margin-top: auto;
}
.close {
    z-index: 1;
    color: #000;
    font-size: 30px;
    font-weight: 800;
    background-color: #fff;
    padding: 2px;
    border-radius: 10px 10px 0px 0px;
    align-self: flex-end;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* MUSICA */
.musicPage {
    background-color: #000;
    min-height: 100dvh;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.musicContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    background-color: rgb(20, 20, 20);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 12px;
    padding-top: 28px;
    border-radius: 8px;
}
.titleVideo {
    width: 320px;
    height: fit-content;
    object-fit: contain;
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción de aspecto del video (16:9) */
    overflow: hidden;
    box-shadow: var(--box-shadow1);
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.musicContainer > span {
    margin-top: 20px;
}
.suscribite {
    font-weight: 600;
    font-size: 11px;
    background-color: rgb(173, 35, 25);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    display: block;
}
.suscribite:hover {
    background-color: rgb(235, 42, 28);
}
.otrosLanzamientos {
    background-color: #0e0e0e;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: #ffffff7a solid 1px;
    margin-top: 20px;
    box-shadow: var(--box-shadow1);
}
.lanzamiento {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.tituloLanzamiento {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.spotify {
    height: 20px;
    object-fit: cover;
}
.lanzamientoImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #0000006e;
    object-position: 58%;
}

/* FOOTER */
footer {
    background-color: #fff;
    height: 220px;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 60px;
}
.developedBy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.developedBy > img {
    width: 320px;
    max-width: 100%;
    object-fit: contain;
}
.contactDiuka {
    line-height: 25px;
    align-items: flex-start;
}

/* RESPONSIVE */
@media only screen and (min-width:768px) {
    .startPage {
        background-position: 58% 10%;
    }
    .logo {
        width: 500px;
        height: 500px;
        margin-top: 0;
    }
    .botonFechas {
        position: inherit;
    }
    .fecha > img {
        width: 220px;
    }
    .flexWrapperFechas {
        width: 520px;
    }
    .cuerpoFecha {
        line-height: 20px;
    }
    .musicContainer {
        width: 728px;
    }
    .lanzamientoImg {
        width: 180px;
        height: 180px;
    }
}
@media only screen and (min-width:1080px) {
    .musicContainer {
        width: 980px;
    }
}
@media only screen and (min-height:600px) {
    .logo {
        width: 300px;
        height: 300px;
        margin-top: 0;
    }
    .botonFechas {
        position: absolute;
        margin-top: 80px;
    }
}